<app-nav></app-nav>



<h1 id="tituloReg" class="center">Iniciar Sesion</h1>


<div id="marginTop" class="row">
    <div class="offset-l1 col l5 s12">
        <img class="responsive-img" src="./assets/flickrbysanchez.png" alt="flickrbysanchez">
    </div>
    <form class="col l5 offset-l1 s12">
        <div class="row">
            <div class="input-field col s12 l8">
                <input id="email" type="email" #email2 required class="validate">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 l8">
                <input id="password" type="password" #password2 class="validate">
                <label for="password">Contraseña</label>
            </div>
        </div>
        
        <a id="button" (click)="searchByNameAndPassword(email2.value, password2.value)" class="btn modal-trigger red"><i
                class="material-icons right">send</i>Iniciar Sesion</a> <br><br>
        <span>¿Aun no tienes cuenta? <a id="enlaceLogin" routerLink="/signin"> Create una ahora</a></span>
    </form>
</div>

<br><br>
<app-footer></app-footer>


<br><br><br><br>



<div>

    <li style="font-size: 20px" *ngFor="let user of users">
        {{user.name}}
    </li>

    <br>
    <input type="text" #namesearch>
    <button (click)="searchByName(namesearch.value)">Search</button>
    <li *ngFor="let name of names">
        {{name.name }}
        {{name.email}}
    </li>

</div>