<app-navlogued></app-navlogued>

<div>
    <br><br><br><br><br><br>
    <div class="submit-form">
        <div *ngIf="!submitted" class="row center">
            <div class="form-group">
                <div class="input-field offset-l3 col s12 l6">
                    <input [(ngModel)]="tutorial.titulo" name="titulo" type="text" required class="validate">
                    <label for="titulo">Título</label>
                </div>
            </div>
            <div class="form-group">
                <div class="input-field offset-l3 col s12 l6">
                    <input [(ngModel)]="tutorial.descripcion" name="descripcion" type="text" required class="validate">
                    <label>Descripción (URL)</label>
                </div>
            </div>
            <div class="input-field offset-l2 col s12 l8">
                <a (click)="guardarTutorial()" class="btn red">Enviar</a>
            </div>
        </div>

        <div *ngIf="submitted" class="row">
            <br><br><br><br>
            <div class="offset-l3 col l6 m12 s12 center">
                <h4>Tutorial enviado correctamente!</h4>
                <br>
                <div class="col s12">
                    <a (click)="nuevoTutorial()" class="btn red">Agregar Otro</a>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="col s12">
                    <a routerLink="/lista" class="btn red">Volver a las listas</a>
                </div>
            </div>
        </div>
    </div>
</div>