<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<!--Mobile-->
<nav>
  <div class="nav-wrapper black">
    <a id="text" routerLink="/home" class="brand-logo">flick<span id="red">r</span></a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/lista">CRUD</a></li>
      <li><a routerLink="/login">Cerrar Sesion</a></li>



    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a routerLink="/home">Home</a></li>
  <li><a routerLink="/tutoriales">CRUD</a></li>
  <li><a routerLink="/login">Cerrar Sesion</a></li>
</ul>