#marginTop {
    margin-top: 6%;
}

img {
    background-color: #000;
    padding: 30px;
    border-radius: 45px;
}

#tituloReg {
    font-family: 'flickr', Courier, monospace;
}

#enlaceLogin {
    transition: all .3s;
    color: #00a4f7;
}

#enlaceLogin:hover {
    color: #0078b5;
}

#button {
    transition: all .3s;
}

#button:hover {
    transform: scale(1.09);
}